@font-face {
  font-family: 'Gmarket';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color:black;
  overflow: hidden;
}

.theater {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  font-family: 'Gmarket';
  color:beige;
}
.theater #backGround {
  width: 85vw;
}
.theater .theater__main {
  display: flex;
  position: absolute;
  width: 59vw;
  top: 23vh;
  left: 21vw;
}
.theater .theater__main #moviePoster {
  height: 25vw;
  border-radius: 10px;
}
.theater .theater__main .movie__info {
  width: 50vw;
  padding: 0 2vw;
  text-align: start;
}
.theater .theater__main .movie__title {
  margin-top: 10px;
  font-size: 50px;
  margin-bottom: 25px;
}
.theater .theater__main .movie__eval {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.theater .theater__main .movie__eval p {
  margin-top: 15px;
  color: whitesmoke;
}
.theater .theater__main .movie__eval .movie__review {
  display: flex;
  text-align: right;
}
.theater .theater__main .movie__eval .movie__grade.my__grade {
  margin-left:2rem;
}
.theater .theater__main .movie__eval .movie__grade p span {
  color: red;
}
.theater .theater__main .movie__story {
  height: 15vh;
}
.theater .theater__main .movie__story .story__info {
  font-size: 18px;
  height: 10vh;
  overflow-y: auto;
  color: whitesmoke;
}
.theater .theater__main .movie__story .story__info::-webkit-scrollbar {
  width: 4px ;
  color: aliceblue;
}
.theater .theater__main .movie__story .story__info::-webkit-scrollbar-thumb{ 
height: 17%; 
background-color: wheat; 
border-radius: 10px;
}
.theater .theater__main .movie__story .story__info::-webkit-scrollbar-track {
  background-color: gray;
}
.theater .theater__main .movie__clip .clip__pic {
  width: 37vw;
  display: flex;
  background-color: black;
  border-color:  whitesmoke;
  border-style: dashed;
  border-width: 9px 0;
  padding: 5px;
  margin-top: 5px;
}
.theater .theater__main .movie__clip .clip__pic img {
  margin: 0 10px;
  width: 6.3vw;
  height: auto;
  border: 2px solid black;
}
.theater .theater__main .movie__clip .clip__pic .clips:hover {
  transition: .6s;
  transform: scale(4) translateY(-60px);
}

.backToTop {
  position:absolute;
  right: 4vw;
  bottom:4vh;
  
}

@media screen and ( max-width: 1023px ) {
  .theater {
    font-size: 18px;
  }
  .theater #backGround {
    width: 120vw;
    height: 50vh;
    position: relative;
    left: -40px;
    top: 10px;
  }
  .theater .theater__main {
    width: 80vw;
    top: 42vh;
    left: 5vw;
  }
  .theater .theater__main #moviePoster {
    position: absolute;
    height: 26vh;
    top: -29vh;
    left: 7vw;
    border-radius: 3px;
  }
  .theater .theater__main .movie__info {
    width: 100vw;
  }
  .theater .theater__main .movie__title {
    position: absolute;
    top: -35vh;
    left: 8vw;
    font-size: 18px;
  }
  .theater .theater__main .movie__eval {
    display: inline;
    position: absolute;
    top: -27vh;
    right: 1vw;
  }
  .theater .theater__main .movie__eval p {
    margin: 8px 0 20px 0;
  }
  .theater .theater__main .movie__eval .movie__review {
    display: inline;
    text-align: start;
  }
  .theater .theater__main .movie__eval .movie__grade.my__grade {
    margin-left:0;
  }
  .theater .theater__main .movie__story {
    position: relative;
    top: 12vh;
    width: 85vw;
  }
  .theater .theater__main .movie__story .story__info {
    font-size: 15px;
    line-height: 1.1rem;
  }
  .theater .theater__main .movie__clip {
    position: relative;
    top: 14vh;
  }
  .theater .theater__main .movie__clip .clip__pic {
    width: 80vw;
    border-width: 5px 0;
  }
  .theater .theater__main .movie__clip .clip__pic img {
    margin: 0 2px;
    width: 14vw;
  }
  /* .theater .theater__main .movie__clip .clip__pic .clips:hover {
    transition: .6s;
    transform: scale(4) translateY(-60px);
  } */
}

