@font-face {
  font-family: 'Gmarket';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.theater2 {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  font-family: 'Gmarket';
  color:beige;
  background-color:black;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.theater2 .door {
  width: 25vw;
  position: absolute;
  bottom:5vh;
  left: 38%;
  cursor: pointer;
  z-index: 1;
}
.theater2 #enterInfo {
  position: relative;
  top: 190px;
  opacity: .2;
  font-size: 20px;
}
.theater2 .arrow {
  width: 5vw;
  position: absolute;
  bottom: 20vh;
  animation: slidein 1s ease-in infinite alternate;
}
.theater2 .arrow.left {
  left: 15vw;
  
}
.theater2 .arrow.right {
  right: 15vw;
}
.theater2 .theater2__room {
  font-family: 'neon';
  position: absolute;
  font-size: 9vw;
  line-height: 9vw;
  top: 17vh;
  left: 30vw;
  text-shadow: 
    0 0 1vw #faf5a9,
    0 0 3vw #faf5a9,
    0 0 5vw #faf5a9,
    0 0 5vw #faf5a9,
    0 0 .4vw #cfaf76,
    .2vw .3vw .1vw #cfaf76;
    color: whitesmoke;
    text-decoration: underline;
    text-align: right;
}
.theater2 #sheet {
  position: absolute;
  width: 10vw;
  height: 150px;
  left: 25vw;
  top: 45vh;
  opacity: .4;
}
.theater2 .theater2__showing {
  width: 14vw;
  text-align: left;
  font-size: 2rem;
  position: absolute;
  right: 19vw;
  top: 20vh;
  animation: flux 4s linear infinite;
  -moz-animation: flux 4s linear infinite;
  -webkit-animation: flux 4s linear infinite;
  -o-animation: flux 4s linear infinite;
}
.theater2 .theater2__showing img {
  margin-top: 30px;
  width: 10vw;
  box-sizing: border-box;
  border-top: 4px dashed #cfaf76;
  border-bottom: 5px dashed #cfaf76;
  box-shadow: #ffe9d1 1px 2px 20px;
}
@keyframes flux {
  0%,
  100% {
    text-shadow: 
    0 0 1vw #faf5a9,
    0 0 3vw #faf5a9,
    0 0 5vw #faf5a9,
    0 0 5vw #faf5a9,
    0 0 .4vw #cfaf76,
    .2vw .3vw .1vw #cfaf76;
    color: #cfaf76;
  }
  50% {
    text-shadow: 
    0 0 .5vw #c3a152,
    0 0 1.5vw #c3a152, 
    0 0 5vw #c3a152, 
    0 0 5vw #ffe9d1, 
    0 0 .2vw #ffe9d1, 
    .2vw .3vw .1vw #3b2e22;
    color: #3b2e22;
  }
}

@keyframes slidein {
  0% {
    margin-bottom: .5%;
  }

  100% {
    margin-bottom: 0%;
  }
}

